<div class="my-container">
  <p class="current-path">首頁>產品一覽>客製化選用表</p>
  <div class="product-list float-left">
    <ul id="pdf-ul">
      <li class="father-item">PM變距選用表</li>
    </ul>
  </div>
  <div class="product-pdf float-right">
    <img src="/form-tiny-cover/<%= Customized.first.image %>" alt="" style="border: 1px solid #C0C0C0">
    <a class="de-a-decorated" href="/form-pdf/<%= Customized.first.name %>.pdf" target=_blank>以分頁開啟PDF檔瀏覽下載</a>
  </div>
  <div class="clearfix"></div>
</div>