.my-container {
  width: 1024px;
  margin: 0px auto;
}

.my-header {
  padding: 4px 0px;
  margin: 4px auto;
  height: 38px;
}

#top-logo {
  float: left;
}

#top-logo img {
  height: 42px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

ul>li {
  display: inline;
}

.my-tabs {
  /* background-color: rgb(245, 245, 245); */
  background: -moz-linear-gradient(rgb(255, 255, 255),rgb(225, 225, 225));
  background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(225, 225, 225));
  background: linear-gradient(rgb(255, 255, 255),rgb(225, 225, 225));
  height: 38px;
  padding-top: 3px;
  padding-bottom: 2px;
  border-top: 2px solid rgb(225, 225, 225);
  min-width: 1024px;
}

ul {
  padding-left: 0px;
  /* margin-bottom: 5px; */
}

.my-tabs-ul {
  margin-top: 3px;
}

.my-tabs-ul>li {
  background-color: rgba(245, 245, 245, 0);
  margin-bottom: 0px;
  padding: 8px 8px 6px 8px;
  font-size: 0.9em;
  font-weight: bolder;
  border-left: 1px solid rgb(225, 225, 225);
  border-right: 1px solid rgb(225, 225, 225);
}

.de-a-decorated a,.de-a-decorated a:hover,.de-a-decorated a:visited {
  color: black;
  text-decoration: none;
}

.my-tabs-ul>li:hover {
  border-bottom: 2px solid;
  border-bottom-color: blue;
}
/* product show */
.product-show-block {
  display: none;
  margin-top: -30px;
  margin-left: 50px;
  padding-top: 37px;
  position: absolute;
  z-index: 9;
  /* border: 2px solid black; */
  width: 79px;
}

.product-show-content {
  position: relative;
  background-color: rgb(200, 200, 200);
  /* height: 256px; */
  width: 844px;
  padding: 24px 18px 12px 20px;
}

.tab-product-show:active .product-show-block,.product-show-block:hover {
  display: block;
}

.product-thumbnail {
  display: inline-block;
  margin: 2px;
  padding-top: 8px;
  /* border: 2px solid red; */
  width: 152px;
  height: 207px;
  text-align: center;
}

.product-show-content div:hover {
  background-color: rgb(128, 128, 128);
  color: white;
}



/* .product-show-block:hover {
  display: block;
} */

/* footer */
.my-footer {
  text-align: center;
  margin: 4px auto;
}

.my-footer>li {
  padding: 1px 2px;
}

/* index stylesheet */

.about-company {
  background-color: yellow;
  margin: 8px 0px;
  padding-bottom: 76px;
}

.block-in-container {
  background-color: rgb(240, 240, 240);
  margin: 8px auto 2px auto;
  padding: 6px 12px;
}

.block-in-container p {
  font-size: 0.9em;
}

.news-block {
  width: 704px;
  height: 350px;
}

.block-in-container h4 {
  border-bottom: 2px solid blue;
  padding-bottom: 8px;
}

.news-text {
  height: 292px;
  overflow-y: auto;
}

.video-block {
  width: 312px;
  height: 188px;  
}

.contact {
  width: 312px;
  height: 152px;
}

/* show page */
.product-list>ul>li {
  display: block;
}