.my-container {
  max-width: 1024px;
  margin: 0px auto;
}

.my-header {
  padding: 5px 0px;
  margin: 5px auto;

}

.float-right {
  float: right;
}

ul>li {
  display: inline;
}

.my-tabs {
  background-color: rgb(245, 245, 245);
  padding-top: 4px;
  padding-bottom: 1px;
}

ul {
  padding-left: 0px;
  margin-bottom: 5px;
}

.my-tabs>li {
  background-color: rgb(245, 245, 245);
  padding: 8px;
  font-size: medium;
  font-weight: bolder;
}

.my-tabs>li:hover {
  border-bottom: 3px solid;
  border-bottom-color: blue;
}

.my-footer {
  text-align: center;
  margin: 0 auto;
}

.my-footer>li {
  padding: 1px 2px;
}