<div class="my-container">
  <!--<div class="about-company">公司形象文宣橫幅廣告篇幅</div>-->
  <div id="index-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#index-carousel" data-slide-to="1"></li>
    </ol>
    <!--carousel image and text-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'NC.jpg' %>
      </div>
      <div class="carousel-item">
        <a href="/products/<%= Product.first.id %>"><%= image_tag 'ST1.jpg' %></a>
      </div>
    </div>

    <a class="carousel-control-prev" href="#index-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#index-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--news-->
  <div class="news-block block-in-container float-left">
    <h5>最新消息</h5>
    <div class="news-text">
      <h6>2018-03-15</h6>
      <p>S5-NewUltra超新科技產品將現蹤於3/22~3/26，2018臺南自動化機械暨智慧製造展，歡迎蒞臨參觀。</p>
      <hr>
      <h6>2018-03-12</h6>
      <p>PM變距產品，規劃出PM30，PM50，PM70及特製系列，相關產品資訊請參閱產品一覽或填寫產品選用書，並與我們聯繫。</p>
      <hr>
      <h6>2018-03-01</h6>
      <p>官方線上客服LINE帳號正式上線，為達即時服務，歡迎您的加入。請掃描首頁右下方QR code。</p>
      <hr>
    </div>
  </div>
  <div class="video-block  block-in-container float-right">
    <h5>Video</h5>
    <video width="288px" height="140px" controls><source src="/video.mp4" type="video/mp4"></video>
  </div>
  <div class="contact  block-in-container float-right">
    <h5>聯絡資訊</h5>
      <p>TEL 04-25355162 <br />
      FAX 04-25355163 <br />
      臺中市沙鹿區清泉路13之3號1樓 <br />
      pitch.service.s5@gmail.com </p>
  </div>
  <div class="clearfix"></div>

</div>
