<div class="my-container">
  <!--<div class="about-company">公司形象文宣橫幅廣告篇幅</div>-->
  <div id="index-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#index-carousel" data-slide-to="1"></li>
    </ol>
    <!--carousel image and text-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'NC.jpg' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'ST1.jpg' %>
      </div>
    </div>

    <a class="carousel-control-prev" href="#index-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#index-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--news-->
  <div class="news-block block-in-container float-left">
    <h5>最新消息</h5>
    <div class="news-text">
      <h6>2018-02-16</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consectetur debitis inventore aspernatur illo suscipit quos aliquam a? Consectetur ipsam beatae officiis quibusdam a molestias optio est et sunt at.</p>
      <hr>
      <h6>2018-02-06</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consectetur debitis inventore aspernatur illo suscipit quos aliquam a? Consectetur ipsam beatae officiis quibusdam a molestias optio est et sunt at.</p>
      <hr>
      <h6>2018-01-30</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consectetur debitis inventore aspernatur illo suscipit quos aliquam a? Consectetur ipsam beatae officiis quibusdam a molestias optio est et sunt at.</p>
      <hr>
      <h6>2018-01-24</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consectetur debitis inventore aspernatur illo suscipit quos aliquam a? Consectetur ipsam beatae officiis quibusdam a molestias optio est et sunt at.</p>
      <hr>
    </div>
  </div>
  <div class="video-block  block-in-container float-right">
    <h5>Video</h5>
  </div>
  <div class="contact  block-in-container float-right">
    <h5>聯絡資訊</h5>
      <p>TEL 04-25355162 <br />
      FAX 04-25355163 <br />
      臺中市沙鹿區清泉路13之3號1樓 <br />
      pitch.service.s5@gmail.com </p>
  </div>
  <div class="clearfix"></div>

</div>
