<div class="my-container">
  <p class="current-path">首頁>產品一覽>產品資訊</p>
  <div class="product-list float-left">
    <!--<ul>
      <% @products.each do |product| %>
        <li> <%= product.name%> </li>
      <% end %>
    </ul>-->
    <ul class="de-a-decorated">
      <a href=""><li class="father-item"> PM變距系列</li></a>
      <a href=""><li class="child-item"> PM30</li></a>
      <a href=""><li class="child-item"> PM50</li></a>
      <a href=""><li class="child-item"> PM70</li></a>
      <a href=""><li class="child-item"> PM特殊</li></a>
      <a href=""><li class="child-item"> PM系列注意事項</li></a>
      <a href=""><li class="child-item"> PM配件包</li></a>
      <a href=""><li class="father-item" > NC氣缸系列</li></a>
      <a href=""><li class="child-item"> NC帶導向型氣缸(單動型)</li></a>
      <a href=""><li class="child-item"> NCDS帶導向型氣缸(複動型)</li></a>
      <a href="" class="constructing"><li class="child-item"> NCDR(X滾柱系列)-pdf建構中</li></a>
      <a href=""><li class="child-item"> NC系列注意事項</li> </a>
      <a href=""><li class="father-item"> 配件系列</li> </a>
      <a href=""><li class="child-item"> 氣缸磁力感測器</li></a>
      <a href=""><li class="child-item"> 迷你繼手</li></a>
      <a href=""><li class="child-item"> SUV超軟真空管</li></a>
      <a href="" class="constructing"><li class="father-item"> 流量計-pdf建構中</li></a>
      <a href="" class="constructing"><li class="father-item"> NOEELE-pdf建構中</li></a>
    </ul>
  </div>
  <div class="product-pdf float-left"><embed src="/pdf/PM變距系列.pdf" width="100%" height="860px"></div>
  <div class="clearfix"></div>
</div>